@font-face {
    font-family: 'gensen-font';
    src: url('../fonts/GenSenRounded2TW-L.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'gensen-font';
    src: url('../fonts/GenSenRounded2TW-R.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'gensen-font';
    src: url('../fonts/GenSenRounded2TW-B.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }

//   Nunito
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


